
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
  font-size:62.5%;
  font-family: 'Roboto', sans-serif;
  background: rgb(15,15,15);
  background: linear-gradient(68deg, rgba(15,15,15,1) 0%, rgba(20,20,20,1) 26%, rgba(31,31,31,1) 63%, rgba(23,23,23,1) 100%);
  background-attachment: fixed;
  margin: 0;
  overflow-x: hidden;
}
html{
  margin: 0;
}

@import './scss/palette.scss';
@import './scss/SearchBar.scss';
@import'./scss/Form.scss';
@import './scss/TodoList.scss';



h1{
  font-size: 4em;
  color: $textWhite;
  text-align: center;
  margin-top: 3vh;

}
li{
  font-size: 2em;
}

.sentence{
  font-size: 1rem;
  color: $textWhite;
  text-align: center;
  margin-bottom: 5vh;
  opacity: .2;
}