@import './palette.scss';

.form{
  margin-top: 10vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.form input, .form button{
  padding: .5rem;
  font-size: 1.5rem;
  border: none;
  background-color: $textWhite;

  color: $textBlack;

}
.form input{
  width: 60vw;
  border-radius: 2px 0 0 2px;

  &:focus{
    outline:none;
  }

}

.form button{
  cursor: pointer;
  transition: all .3s ease;
  border-radius: 0 2px 2px 0;

  &:hover{
    color: $textWhite;
    background-color: $textBlack;
  }

}


select{
  //reset
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: none;

  //style
  color: $textBlack;
  background: $textWhite;
  cursor: pointer;
  // width: 10rem;
  padding: 0.8rem;
}

.select{
  margin: 2rem 40%;
  width: 10%;
  border-radius: 2px;
  position: absolu;
  
  // overflow: hidden;
  // align-self: center;

  
  // &:after{
  //   content: "\25BC";
  //   position: absolute;
  //   background: $textBlack;
  //   color: $textWhite;
  //   top: 0;
  //   width: 0;
  //   padding: 1rem;
  //   pointer-events: none;
  //   transition: all 0.3s ease;

  // }
  // &:after:hover{
  //   background: $textWhite;
  //   color: $textBlack;
  // }



}
