@import './palette.scss';
.searchBtn{
  display: none;
}

.search{
  width: 100vw;
  display: flex;
  justify-content: center;
}

#searchBar{
  width: 50vw;
  padding: .5rem;
  font-size: 1.5rem;
  border: none;
  background-color: $textWhite;

  color: $textBlack;
  border-radius: 2px;

  &:focus{
    outline:none;
  }
}

