@import './palette.scss';

.todoContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.todoList{
  min-width: 60%;
  list-style: none;
}


.todo{
  margin: .5rem;
  background: $textWhite;
  color: $textBlack;
  font-size: .8rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: all 10s ease;
}

.todo li{
  flex: 1;
  padding: 0 1rem;
}

.trashBtn, 
.completeBtn{
  background: $textBlack;
  color: $textWhite;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: .8rem;
}

.trashBtn:hover{
  background: crimson;
}
.completeBtn:hover{
  background: darkgreen;
}

.completed{
  text-decoration: line-through;
  opacity: .5;
}
